.dropdown {
  position: relative;

  &.active {
    .dropdown__value {
      border-radius: 4px 4px 0 0;
    }
    .dropdown__list {
      display: block;
    }
  }

  &__value {
    background-color: $white;
    border-radius: 4px;
    border: 1px solid $gray-light;
    font-size: $font-size14;
    padding: 0 1.5em;
    width: 100%;
    height: 30px;
    line-height: 30px;
  }

  &__list {
    background-color: $white;
    border: 1px solid $gray-light;
    border-radius: 0 0 4px 4px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  &__item {
    cursor: pointer;
    font-size: $font-size14;
    line-height: 30px;
    padding: 0 1.5em;

    &:hover {
      background-color: $gray-lighter;
      color: $gray-light;
    }
  }
}